# Import libraries

In [1]:
# Import pandas, numpy, and matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# seaborn is a data visualization library built on matplotlib
import seaborn as sns

# set the plotting style
sns.set_style("whitegrid")

# Load data

## Seattle, Washington data

In [14]:
df_sea = pd.read_csv("../data/seattle_rain.csv")
type(df_sea)

pandas.core.frame.DataFrame

In [17]:
df_sea.head()
#df_sea.head(10)

,STATION,NAME,DATE,DAPR,MDPR,PRCP,SNOW,SNWD,WESD,WESF
0,US1WAKG0225,"SEATTLE 2.1 ESE, WA US",1/1/18,NaN,NaN,0.00,NaN,NaN,NaN,NaN
1,US1WAKG0225,"SEATTLE 2.1 ESE, WA US",1/2/18,NaN,NaN,0.00,NaN,NaN,NaN,NaN
2,US1WAKG0225,"SEATTLE 2.1 ESE, WA US",1/3/18,NaN,NaN,0.00,NaN,NaN,NaN,NaN
3,US1WAKG0225,"SEATTLE 2.1 ESE, WA US",1/4/18,NaN,NaN,0.00,NaN,NaN,NaN,NaN
4,US1WAKG0225,"SEATTLE 2.1 ESE, WA US",1/5/18,NaN,NaN,0.25,NaN,NaN,NaN,NaN

## Portland, Maine data

In [18]:
df_pwm = pd.read_csv("../data/portland_rain.csv")
type(df_pwm)

pandas.core.frame.DataFrame

In [19]:
df_pwm.head()
#df_pwm.head(10)

       STATION                     NAME        DATE  PRCP  SNOW  SNWD
0  USW00014764  PORTLAND JETPORT, ME US  2018-01-01  0.00   0.0   9.1
1  USW00014764  PORTLAND JETPORT, ME US  2018-01-02  0.00   0.0   9.1
2  USW00014764  PORTLAND JETPORT, ME US  2018-01-03  0.00   0.0   7.9
3  USW00014764  PORTLAND JETPORT, ME US  2018-01-04  0.62  11.9   7.9
4  USW00014764  PORTLAND JETPORT, ME US  2018-01-05  0.01   0.1  16.1

# Data exploration

## Seattle, WA

In [23]:
df_sea.shape

(1658, 10)